@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

img {
    max-width: 100%;
}

body {
    font-family: $font-body;
    overflow-x: hidden;
    margin: 0;
    position: relative;
    padding: 0;
}

.btn:focus {
    box-shadow: none;
    outline: 0;
}

.orange-btn {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $white;
    font-size: 1.25rem;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
    background: imgUrl('btn-glare.png') $secondary1;
    box-shadow: 1px 1px 4px rgba(55, 55, 55, 0.2), inset 0px 0px 2px rgba(181, 82, 11, 0.5), inset 0px 0px 4px 1px rgba(255, 171, 111, 0.7);
    background-size: cover;
    border: 3px solid rgba(255, 171, 111, 0.7);

    &:hover {
        color: rgba(255, 171, 111, 0.8) !important;
    }
}

.purple-btn {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $white;
    font-size: 1.25rem;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
    background: imgUrl('btn-glare.png') $primary1;
    background-size: cover;
    box-shadow: 1px 1px 4px rgba(55, 55, 55, 0.2), inset 0px 0px 2px #331777, inset 0px 0px 4px 1px #A27CFF;
    border: 3px solid #A27CFF;

    &:hover {
        color: #A27CFF;
    }
}

// Rounded buttons
@for $i from 1 through 10 {
    .rounded-#{$i} {
        border-radius: #{$i}px;
    }
}

.text-italic {
    font-style: italic;
}

.text-decoration-none {
    text-decoration: none;
}

//line-height
.line-height-1 {
    line-height: 1;
}

.line-height-2 {
    line-height: 2;
}

//Go To Top
#return-to-top {
    position: fixed;
    bottom: 95px;
    right: 13px;
    z-index: 9;
    background: $primary;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top img {
    margin: 0;
    position: relative;
    left: 13px;
    top: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover img {
    top: 4px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

::-webkit-scrollbar-thumb:hover {
    background: #022444;
}