.sticky-nav {
    position: fixed;
    top: 50px;
    right: 0;
    background: linear-gradient(180deg, #874EE7 0%, $secondary1 100%);
    border-radius: 8px 0px 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    padding: 15px 17px;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.sticky-nav-mobile {
    background: linear-gradient(90deg, #874EE7 0%, $secondary1 100%);
    padding: 9px 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
    top: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

    @include media-breakpoint-up(md) {
        display: none;
    }

    .mobile-icons {
        width: 40px;
    }
}

.shutter {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: imgUrl('shutter.png', "lib") center bottom;
    background-size: cover;
    z-index: 1000;
}

.shutter_raise {
    transform: translateY(-100%);
    transition: 0.5s all;
}

.marquee-truck {
    position: absolute;
    height: 100%;
    top: 0;
    right: 8rem;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

header {
    padding: 113px 0 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(76.93deg, $primary6 -1.51%, $secondary3 95.92%);
    box-shadow: inset 0px 0px 69.5791px rgba(0, 0, 0, 0.15), inset 0px 0px 16.0567px 2.14089px rgba(0, 0, 0, 0.12);
    position: relative;

    @include media-breakpoint-down(xl) {
        padding: 113px 0 550px;
    }

    @include media-breakpoint-down(sm) {
        padding: 80px 0 250px;
    }

    .logo {
        @include media-breakpoint-down(sm) {
            width: 100px;
        }
    }

    .heading {
        color: $light3;
        text-stroke: 1.5px $primary2;
        -moz-text-stroke: 1.5px $primary2;
        -webkit-text-stroke: 1.5px $primary2;
        text-shadow: 4px 4px 0px rgba(63, 51, 89, 0.8);
        padding-top: 56px;

        @include media-breakpoint-down(sm) {
            line-height: 1;
            padding-top: 36px;
        }
    }

    .flipping-heading .text {
        background: linear-gradient(89.88deg, $dark2 13.34%, $primary7 59.71%, $primary8 65.64%, $primary4 71.81%, $primary3 90.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        line-height: 1;
    }

    .banner-box-1 {
        position: absolute;
        left: 1rem;
        bottom: -4px;

        img {
            animation: translation 3s infinite linear;
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    .banner-box-2 {
        position: absolute;
        right: 0;
        bottom: -10rem;
        z-index: 100;

        img {
            animation: translation 3s infinite linear;
        }

        @include media-breakpoint-down(xl) {
            display: none;
        }
    }

    @keyframes translation {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-3rem);
        }

        100% {
            transform: translateY(0);
        }
    }

    .banner-boxes-sm {
        position: absolute;
        width: 100%;
        bottom: -0.5rem;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

section.participating-brands {
    background: $secondary1;
    padding: 13px 0;

    .brands-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media-breakpoint-down(sm) {
                margin: 0 10px;
            }
        }
    }
}

section.about-us {
    background: $light1;

    .about-us-box {
        position: absolute;
        top: 0;
        left: 0;
    }

    .about-us-container {
        padding: 85px 50px;

        @include media-breakpoint-up(md) {
            background: imgUrl('about-us-star.png') center;
        }

        @include media-breakpoint-up(lg) {
            padding: 234px 16px;
        }

        .heading {
            background: linear-gradient(180deg, $primary1 13.38%, $secondary1 150.7%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            line-height: 1.21;

            @include media-breakpoint-down(md) {
                padding-bottom: 34px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 2.2rem !important;
            }
        }

        .description p {
            font-weight: 500;
            color: $grey1;
            line-height: 1.4;
            font-size: 1rem;
            margin-bottom: 24px !important;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }
    }
}

section.cta {
    background: imgUrl('cta.png');
    background-size: cover;
    padding: 106px 0 64px;
    position: relative;

    @include media-breakpoint-down(lg) {
        padding: 109px 0 442px;
    }

    @include media-breakpoint-down(sm) {
        padding: 109px 0 242px;
        background: imgUrl('cta-sm.jpg');
        background-size: cover;
    }

    .cta-slider {
        .slick-slide {
            margin: 0 13px;

            &.top-margin {
                @include media-breakpoint-up(lg) {
                    margin-top: 188px;
                }
            }
        }

        .cta-slider-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 15px 39px;
            text-align: center;
            height: 540px;

            @include media-breakpoint-down(sm) {
                height: 504px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 169.5px;
                border: 2px solid transparent;
                background: linear-gradient($primary1, $secondary1, $primary1) border-box;
                -webkit-mask: linear-gradient($white 0 0) padding-box, linear-gradient($white 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
            }

            .heading {
                background: linear-gradient(180deg, $primary1 13.38%, $secondary1 150.7%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                line-height: 1;
            }

            .description {
                color: $grey1;
                font-weight: 600;
                font-size: 1rem;
                padding-top: 47px;
            }

            .scroll-down-cta {
                position: absolute;
                bottom: 2rem;
                z-index: 1001;
                animation: bounce2 2s ease infinite;

                @keyframes bounce2 {

                    0%,
                    20%,
                    50%,
                    80%,
                    100% {
                        transform: translateY(0);
                    }

                    40% {
                        transform: translateY(-20px);
                    }

                    60% {
                        transform: translateY(-15px);
                    }
                }
            }
        }
    }

    .cta-box-1 {
        position: absolute;
        left: 0;
        bottom: -1rem;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .cta-box-2 {
        position: absolute;
        right: 0;
        bottom: -4rem;
        z-index: 100;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .cta-boxes-sm {
        position: absolute;
        right: 0;
        bottom: -9rem;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

section.exclusive-deals {
    padding: 112px 0 146px;

    @include media-breakpoint-down(sm) {
        padding: 159px 0 108px;
    }

    .deals-wrapper {
        position: relative;
        border-radius: 3px;
        height: inherit;

        &::before {
            position: absolute;
            content: "";
            background: $dark1;
            height: 100%;
            border-radius: 3px;
            width: 100%;
            opacity: 0.7;
            transition: 0.2s all ease-in-out;
            z-index: 100;
        }

        &:hover {
            &::before {
                position: relative;
            }
        }

        .btn {
            position: absolute;
            left: 43%;
            bottom: 98px;
            padding-left: 65px;
            padding-right: 65px;
            z-index: 50;
            width: auto;
        }
    }
}

section.service {
    background-color: $light1;
    padding: 148px 0 300px;
    overflow-y: hidden;

    @include media-breakpoint-up(xl) {
        padding: 174px 0 300px;
        max-height: 4542px;
    }

    .wheel-wrapper {
        position: absolute;
        top: 0;
        left: -45%;
        overflow: hidden;

        @include media-breakpoint-down(xxl) {
            display: none;
        }
    }

    .service-card {
        background: linear-gradient(79.26deg, #7C49F8 0%, #F88D36 101.18%);
        box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        color: $white;

        .service-card-inner {
            @include media-breakpoint-down(xl) {
                padding: 48px 48px 0;
            }

            @include media-breakpoint-down(sm) {
                padding: 24px 24px 0;
            }
        }

        .vertical-text {
            writing-mode: vertical-rl;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: vertical-rl;
            background-color: $white;

            span {
                background: linear-gradient(90deg, #7C49F8 13.38%, #FF842A 150.7%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                padding: 39px 4px;
                font-weight: 500;
            }
        }

        .cta-circle {
            width: 112px;
        }
    }
}

section.form {
    position: relative;
    background: $light2;
    padding-bottom: 48px;

    @include media-breakpoint-up(lg) {
        padding: 122px 0 143px;
    }

    .heading {
        @include media-breakpoint-down(lg) {
            padding: 74px 0;
        }

        div {
            background: linear-gradient(89.11deg, $primary1 13.16%, $secondary1 82.95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;

            .gradient-line {
                height: 4px;
                background: linear-gradient(90deg, $primary9 0%, $secondary2 103.61%);
                width: 249px;

                @include media-breakpoint-down(sm) {
                    width: 150px;
                }
            }

            @include media-breakpoint-down(sm) {
                line-height: 1.17;
                font-size: 2.18rem !important;
            }
        }
    }

    form {
        .form-wrapper {
            .form-heading {
                font-size: 1.25rem;
                font-weight: 600;
                padding-bottom: 8px;
                padding-left: 71px;
                position: relative;

                &.purple {
                    color: $primary5;
                    border-bottom: 1px solid $primary5;

                    &::before {
                        position: absolute;
                        content: "";
                        background: imgUrl('purple-star.png', 'icons');
                        width: 56px;
                        height: 62px;
                        top: 7px;
                        left: 0;
                    }
                }

                &.orange {
                    color: $secondary1;
                    border-bottom: 1px solid $secondary1;

                    &::before {
                        position: absolute;
                        content: "";
                        background: imgUrl('orange-star.png', 'icons');
                        width: 56px;
                        height: 62px;
                        top: 7px;
                        left: 0;
                    }
                }
            }

            .form-row {
                --bs-gutter-y: 2rem;
            }

            input {
                height: 57px;
                background: $grey2;
                box-shadow: inset 0px 0px 14px rgba(0, 0, 0, 0.18);
                border-radius: 3px;
                border: 0;
                padding: 4px 24px;
                color: $light2;

                &::placeholder {
                    font-size: 1rem;
                    line-height: 1;
                    color: $light2;
                }
            }


        }

        button {
            background: imgUrl('btn-glare-form.png') $primary1;
        }
    }
}

section.testimonials {
    background: linear-gradient($light2 0 54px, $light1 54px 100%);
    padding-bottom: 74px;
    position: relative;

    .testimonials-wrapper {
        .testimonials-slider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                margin: 28px 10px 0;
                height: 447px;

                @include media-breakpoint-up(xl) {
                    &.margin-top {
                        margin-top: 94px;
                    }
                }
            }

            .testimonial-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 100px 11px;
                text-align: center;
                transition: 0.2s all ease-in-out;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 169.5px;
                    border: 2px solid transparent;
                    background: linear-gradient($primary1, $secondary1, $primary1) border-box;
                    -webkit-mask: linear-gradient($white 0 0) padding-box, linear-gradient($white 0 0);
                    -webkit-mask-composite: destination-out;
                    mask-composite: exclude;
                }

                .heading {
                    background: linear-gradient(180deg, $primary1 13.38%, $secondary1 150.7%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    line-height: 1;
                    font-size: 2.1875rem; // 35px
                }

                .description {
                    color: $grey1;
                    font-weight: 600;
                    font-size: 0.8125rem;

                    @include media-breakpoint-down(sm) {
                        padding: 0 30px;
                    }
                }

                &:hover {
                    transform: translateY(-20px);
                }
            }
        }
    }

    .timeline {
        padding: 42px 0;

        @include media-breakpoint-up(md) {
            padding: 83px 0 63px;
        }

        .heading {
            background: linear-gradient(180deg, $primary1 13.38%, $secondary1 150.7%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            line-height: 1;

            @include media-breakpoint-down(lg) {
                font-size: 45px !important;
                padding-bottom: 35px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 45px !important;
                padding-bottom: 35px;
            }
        }

        .description {
            color: $grey1;
            font-size: 1rem;
            font-weight: 500;
        }
    }

    .happy-customers {
        font-size: 1.25rem;
        color: $primary5;
        font-weight: 600;
        text-align: center;
        padding-bottom: 18px;
        border-bottom: 1px solid $primary5;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background: imgUrl('purple-star.png', 'icons');
            width: 56px;
            height: 62px;
            top: 17px;
            right: 0;

            @include media-breakpoint-down(lg) {
                left: 0;
            }
        }
    }
}

footer {
    position: relative;
    font-size: 1rem;
    padding: 30px 0;
    background: $white;

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}