$primary1: #7C49F8;
$primary2: #703af4;
$primary3: #7A43FF;
$primary4: #734BDD;
$primary5: #8165B7;
$primary6: #9072E5;
$primary7: #5A4498;
$primary8: #7B64BC;
$primary9: #B8649B;
$secondary1: #FF842A;
$secondary2: #FF852B;
$secondary3: #EB854C;
$dark1: #29213E;
$dark2: #383451;
$grey1: #737373;
$grey2: #787878;
$light1: #D9D9D9;
$light2: #F2F2F2;
$light3: #F9F9F9;
$black: #000000;
$white: #ffffff;

$theme-colors: (
    ) !default;
$theme-colors: map-merge(("primary1": $primary1,
            "primary2": $primary2,
            "primary3": $primary3,
            "primary4": $primary4,
            "primary5": $primary5,
            "primary6": $primary6,
            "primary7": $primary7,
            "primary8": $primary8,
            "primary9": $primary9,
            "secondary1": $secondary1,
            "secondary2": $secondary2,
            "secondary3": $secondary3,
            "dark1": $dark1,
            "dark2": $dark2,
            "grey1": $grey1,
            "grey2": $grey2,
            "light1": $light1,
            "light2": $light2,
            "light3": $light3,
            "black": $black,
            "white": $white ),
        $theme-colors
);

$font-sizes: (
    1: 5.3125rem,
    // 85px
    2: 3.4375rem,
    // 55px
    3: 2.1875rem,
    // 35px
    4: 1.25rem,
    // 20px
    5: 1rem,
    // 16px
    6: 0.8125rem,
    // 13px
);

// Grid Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1440px,
    xxl: 1748px,
    ) !default;
// Container sizing
$container-max-widths: (
    sm: 540px,
    md: 740px,
    lg: 1280px,
    xl: 1342px,
    ) !default;

$spacer: 1rem !default;
$spacers: (
    ) !default;
$spacers: map-merge((0: 0,
            1: $spacer * 0.25,
            2: $spacer * 0.5,
            3: $spacer,
            4: $spacer * 1.5,
            5: $spacer * 3,
            6: $spacer * 4,
            7: $spacer * 5,
            8: $spacer * 6,
            9: $spacer * 7,
            10: $spacer * 10,
            11: $spacer * 11,
            12: $spacer * 12,
            13: $spacer * 13,
            14: $spacer * 14,
            15: $spacer * 15,
        ),
        $spacers
);